.restaurant-card {
  height: 250px;
/*  text-shadow: 0 1px 3px rgba(0,0,0,0.6);*/
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 25px;
  margin-bottom: 20px;
}

.card-features {
  position: absolute;
  right: 15px;
  top: 15px;
}

.features-style {
  color: white;
  &:hover {
    text-decoration: underline;
    opacity: 0.2;
  }
}

.card-name {
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 25px;
}

.card-description {
  position: absolute;
  bottom: 5px;
  left: 20px;

  h2 {
    font-size: 24px;
    line-height: 0px;
  }

  p {
    font-size: 16px;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
  transition: background 5s ease;
  &:hover {
    border-radius: 25px;
    opacity: 0.1;
  }
}
